name: Reusable Tests

on:
  workflow_call:

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Unit Tests
        run: pnpm run test

  get-playwright-version:
    name: Get Playwright Version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            package.json

      - name: Get Playwright Version
        id: get-version
        run: |
          VERSION=$(jq -r '.devDependencies["@playwright/test"]' package.json | sed 's/[\^~]//g')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

  e2e-tests:
    name: E2E Tests
    needs: get-playwright-version
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v${{ needs.get-playwright-version.outputs.version }}-noble
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        env:
          # Playwright skips browser download if this env var is set,
          # but since we are in the container, the browsers should be there.
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1

      - name: Run Playwright Tests
        run: pnpm exec playwright test
        env:
          HOME: /root
